@font-face {
    font-family: "";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts);
}
@font-face {
    font-family: "gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts);
}
@font-face {
    font-family: "gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts);
}
@font-face {
    font-family: "gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts);
}
